.appointment-form-main {
    padding: 30px;
    /* background-image:url("https://thumbs.dreamstime.com/z/desk-calendar-table-blurred-bokeh-background-appointment-business-meeting-concept-259076779.jpg?w=2048"); */
    width: 100%;
    height: 70%;
    background-size: cover;
    background-image: transparent;
    backdrop-filter: blur(20px);
  }

  .appointment-form-sub h2{
    margin-top: 10px;    
  }
  
  .appointment-form-sub {
    border: 1 px solid blue;
    border-radius: 8px;
    text-align: center;
    color: black;
    background-color: rgb(203, 218, 249);
    width: 50%;
    margin-left: 25%;
  }
  .appointment-form-formBox {
    padding-left: 1%;
  }
  
  .appointment-form-userInput{
    margin-left: 70px;
    margin-right: 70px;
  }
  .appointment-form-inputlabel{
    text-align: start;
    margin-left: 40px;
  }

  
  .appointment-form-inputbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .appointment-form-btnbtn-primary{
    margin-bottom: 10px;
  }