.doctors-maincondainer {
  width: 1268.8px;
  height: 900px;
  /* background-color: rgb(207, 163, 207); */
  position: relative;
  left: 12.4%;
}
.doc-textcondainer {
  max-width: 38%;
  height: 5%;

  text-align: center;
  position: relative;
  top: -1%;
  left: 31%;
  border-bottom: 1px solid black;
}
.doc-taxt {
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main-verticaldiv {
  width: 1130px;
  height: 819px;
  position: absolute;
  left: 5.8%;
  top: 9%;
  display: flex;
}
.drprofile-condainer {
  width: 270px;
  height: 700px;
  margin: 6px;
  border-radius: 8px;
  border: 2px solid rgb(0, 0, 0);
}
.image-condainer {
  width: 254px;
  height: 330px;
  /* background-color: blue; */
  position: absolute;
  margin-left: 5.9px;
  /* border-radius: 50%; */
  border-bottom: 1px solid rgb(0, 0, 0);
}
#drimage {
  width: 120%;
  height: 100%;
  position: absolute;
  left: -23px;
}
.adressbook {
  width: 266px;
  height: 210px;
  /* background-color: rgb(68, 204, 127); */
  position: absolute;
  top: 42%;
}
.view-address {
  width: 180px;
  height: 50px;
  background-color: blue;
  /* position: absolute; */
  position: relative;
  top: 80%;
  left: 15.5%;
  border-radius: 25px;
}
.view-address:hover {
  background-color: red;
}
#text-viewdeatils {
  text-decoration: none;
  color: white;
  position: absolute;
  text-align: center;
  left: 45px;
  top: 14px;
}
.appointment-condainer {
  width: 240px;
  height: 50px;
  background-color: red;
  /* position: absolute; */
  position: relative;
  top: 575px;
  left: 13px;
  border-radius: 25px;
  text-align: center;
}
.appointment-condainer:hover {
  background-color: blue;
}
#appointment-text {
  color: white;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 13px;
}

.button-viewall {
  width: 220px;
  height: 50px;
  background-color: #0000e6;
  position: absolute;
  bottom: 22px;
  left: 530px;
  border-radius: 35px;
  border: 1px solid rgb(49, 43, 43);
}
.button-viewall:hover {
  background-color: red;
}
.button-text {
  text-align: center;
  text-decoration: none;
  padding: 1px;
  position: absolute;
  left: 45px;
  top: 7px;
}
#arrow-image {
  position: absolute;
  left: 136px;
  bottom: 5px;
  width: 43px;
  height: 40px;
}
