@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.Singledrprofile-body {
  width: 100%;
  height: 60vh;
  background-color: #ede8e8;
  display: flex;
  margin-top: 2px;
  position: relative;
}
.Singledrprofile-rawLinksContainer {
  width: 75%;
  height: 2em;
  margin-left: 12.8%;
  position: absolute;
  top: 1em;
}
#SingledrprofileLinkTofind {
  padding: 1.8vw;
  text-decoration: none;
  font-size: 1.1vw;
  color: rgba(38, 36, 36, 0.747);
}
.Singledrprofile-ProfileContainer{
  width: 80%;
  height: 50vh;
  position: relative;
  top: 60px;
  left: 29vh;
}
.Singledrprofile-imageContainer{
  width: 22%;
  height: 40vh;
  border-radius: 12px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 5px 9px 0 rgba(13, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
}
.Singledrprofile-textContainer {
  width: 60%;
  height: 44vh;
  position: absolute;
  top: 0px;
  right: 200px;
 
  
}
.Singleprofile-textAlign{
 margin-right: 60%
}
#Singledrprofile-DoctorName {
  font-family: "Montserrat", sans-serif;
  
  
}
#Singledrprofile-DDqText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#Singledrprofile-QuotesText {
  font-size: 17px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.553);
}
.Singledrprofile-Appointmentbooking {
  width: 310px;
  height: 3em;
  background-color: rgb(115, 115, 170);
  border-radius: 35px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.Singledrprofile-Appointmentbooking:hover {
  background-color: rgb(70, 71, 124);
  color: rgb(228, 213, 213);
}
#Singledrprofile_AppointmentText{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

