.Staff-login-mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.staff-login-loginContainer{
    background-color: rgb(0, 0, 0);
    /* border: 2px solid black; */
    border-radius: 8px;
    /* height: 500px; */
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.staff-login-login-form{
    padding: 20px;
}

.staff-login-login-form h1{
    text-align: center;
    color: #333;
}

.staff-login-input-container{
    margin: 10px 0;
}

.staff-login-input-container input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.staff-login-loginButton{
    width: 60%;
    padding: 10px;
    background-color: #852c2c;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.staff-login-IncorrectMessage{
    color: red;
}

@media (max-width: 768px) {
    .staff-login-login-container {
        max-width: 90%;
    }
}